commands:
  01_install_mongo:
    command: sudo /usr/bin/pecl install mongodb
    ignoreErrors: true
  02_rmfromphpini:
    command: sudo /bin/sed -i -e '/extension="mongodb.so"/d' /etc/php.ini
  03_createconf:
    command: sudo /bin/echo 'extension="mongodb.so"' | sudo tee -a  /etc/php.d/41-mongo.ini > /dev/null
